@charset "UTF-8"; 

*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,img,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,hgroup,menu,nav,summary,time,mark,audio,video,header,footer
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background: transparent;
	font-family: Arial, 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,img,menu,nav,section,summary
	{
	display: block
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

[hidden] {
	display: none
}

abbr[title] {
	border-bottom: 1px dotted
}

b,strong {
	font-weight: bold
}

em {
	font-size: 16px;
	font-size: 1.6rem;
	background: #f6f6f6;
	border-bottom: 1px solid #e4e4e4
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

svg:not (:root ){
	overflow: hidden
}

figure {
	margin: 0
}

a {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th,td {
	text-align: left;
	font-weight: normal
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	border-radius: 0;
	vertical-align: baseline;
	font-family: Arial, 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}

button[disabled],input[disabled] {
	cursor: default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: none
}

input:focus,textarea:focus {
	outline: none
}

input::-ms-clear {
	display: none
}

[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	opacity: 0
}

[placeholder]:focus::-moz-input-placeholder {
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	opacity: 0
}

html {
	font-size: 100%;
	position: relative;
	min-height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar
}

body {
	font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica,
		"Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",
		"STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
	background: white;
	color: #4e627a;
	font-size: 0.875rem;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto
}

::selection {
	background-color: #38485a;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
}

::-moz-selection {
	background-color: #38485a;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
}

img::selection {
	background: transparent
}

img::-moz-selection {
	background: transparent
}

.left {
	float: left
}

.right {
	float: right
}

.cf:after {
	content: "";
	display: table;
	clear: both
}

.text-center {
	text-align: center
}

a {
	text-decoration: none;
	color: #2a5894
}

a:hover {
	text-decoration: none;
	color: #2a5894
}

a:focus {
	color: #6f6f6f
}

a:hover,a:focus,a:active {
	outline: 0
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600
}

h1,h2,h3,h4,h5,h6,p,blockquote {
	margin: 0;
	padding: 0
}

input[type="text"] {
	-webkit-appearance: none;
	word-break: normal
}

.mb20 {
	margin-bottom: 20px
}

img,video,object,embed,iframe {
	/**max-width: 100% !important */
}

video,object,embed,iframe {
	width: 100%
}

img {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	display: block;
	height: auto;
	border: 0;
	vertical-align: middle
}

.icons-weibo,.icons-twitter,.icons-blog,.icons-rss {
	width: 32px;
	height: 32px;
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/icons-130ac9e3fe329cd4a69f65e83be8f337.svg)
		no-repeat
}

.icons-weibo {
	background-position: 0 0
}

.icons-twitter {
	background-position: -32px 0
}

.icons-blog {
	background-position: -64px 0
}

.icons-rss {
	background-position: -96px 0
}

.mark {
	height: 16px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.marks {
	display: inline-block;
	width: 16px;
	height: 16px;
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/marks-05f7cb12de6fd5a237f52bae812dccc8.svg)
		no-repeat
}

.mark-founder {
	background-position: 0 0
}

.mark-discount {
	background-position: -16px 0
}

.mark-comingsoon {
	background-position: -32px 0
}

.mark-ios {
	background-position: -48px 0
}

.mark-android {
	background-position: -64px 0
}

.mark-mac {
	background-position: -80px 0
}

.mark-rip {
	background-position: -96px 0
}

.notifications {
	display: inline-block;
	width: 16px;
	height: 16px;
	float: left;
	position: relative;
	bottom: -2px;
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/notification-1c202ddf0e87ab93abaf7ffe9daca123.svg)
		no-repeat
}

.notification-comment {
	background-position: 0 0
}

.notification-like {
	background-position: -32px 0
}

.notification-publish {
	background-position: -16px 0
}

@
-webkit-keyframes shake { 0%,100%{
	-webkit-transform: translateX(0)
}

10%,30%,50%,70%,90%{
-webkit-transform
:translateX(-10px)
}
20%,40%,60%,80%{
-webkit-transform
:translateX(10px)
}
}
@
-moz-keyframes shake { 0%,100%{
	-moz-transform: translateX(0)
}

10%,30%,50%,70%,90%{
-moz-transform
:translateX(-10px)
}
20%,40%,60%,80%{
-moz-transform
:translateX(10px)
}
}
@
keyframes shake { 0%,100%{
	transform: translateX(0)
}

10%,30%,50%,70%,90%{
transform
:translateX(-10px)
}
20%,40%,60%,80%{
transform
:translateX(10px)
}
}
.shake {
	-webkit-animation: shake;
	-moz-animation: shake;
	animation: shake
}

@
-webkit-keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity
:
1
}
}
@
-moz-keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity
:
1
}
}
@
-o-keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity
:
1
}
}
@
keyframes fadeIn { 0%{
	opacity: 0
}

100%{
opacity
:
1
}
}
.fadeIn {
	-webkit-animation: fadeIn;
	-moz-animation: fadeIn;
	animation: fadeIn
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: inline-block !important
}

.topbar {
	height: 60px;
	background: #fff;
	position: relative;
	border-top: 2px solid #E62B1E;
	border-bottom: 2px solid #f2f2f2;
	/**
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	margin-bottom: 0px;
	 */
}

.main-hunt_input {
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #D4D4D4;
  font-size: 14px;
  padding: 7px 25px 10px 5px;
  vertical-align: middle;
  width: 100%;
  -webkit-appearance: none;
  margin-top: 12px;
}

.main-hunt_button {
  border: none;
  margin-top: -15px;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-left: 220px;
}

.hotcollect {
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 30px 0px;
  font-size: 22px;
  border-bottom: 1px solid #f2f2f2;
}

.hotfund {
  padding: 0px 0px 20px 0px;
  margin: 50px 0px 30px 0px;
  font-size: 22px;
  border-bottom: 1px solid #f2f2f2;
}

.morehot {
  font-size: 14px;
  float: right;
  margin-top: -20px;
}

.keyword {
  font-size: 14px;
  margin-top: -10px;
}

.g-search {
  background-position: -150px -182px;
}

.g-pip-share, .g-search {
  height: 30px;
  width: 30px;
}

.g, .g-button-modal-close, .g-button-modal-close_hover, .g-button-play, .g-button-play_hover, .g-collapse-up, .g-logo-medium, .g-logo-small, .g-logo-small-grey, .g-maxi-fullscreen, .g-maxi-pause, .g-maxi-play, .g-maxi-settings, .g-maxi-subtitles, .g-maxi-transcript, .g-maxi-volume, .g-menu, .g-mini-fullscreen, .g-mini-pause, .g-mini-play, .g-mini-settings, .g-mini-subtitles, .g-mini-transcript, .g-mini-volume, .g-pip-pause, .g-pip-play, .g-pip-share, .g-search {
  background-color: transparent;
  background-image: url(../images/use-z.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999em;
  zoom: 1;
}

.hunt {
  width: 300px;
  padding-right: 50px;
}

.search {
	height: 50px;
	position: absolute;
	top: 0;
	margin-top: 2px;
	float: right;
	margin-right: 200px;
}

.search .icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/search-00757d2e86de1586c30b35dd074d25db.svg)
		no-repeat left top
}

.search input {
	height: 50px;
	width: 50px;
	float: left;
	padding: 10px 20px 10px 44px;
	background: rgba(255, 255, 255, 0);
	border: 0;
	cursor: pointer;
	position: relative;
	z-index: 12;
	color: rgba(255, 255, 255, 0);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear
}

.search input:focus {
	width: 200px;
	z-index: 3;
	color: #fff;
	cursor: inherit;
	background: rgba(0, 0, 0, 0.04)
}

.brand {
	width: 54px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: 10px;
	margin-left: 2px;
}

.logo {
	width: 54px;
	height: 20px;
	display: inline-block;
	text-indent: -999em;
	position: relative;
	background: url(../img/logo/top-bar.png) no-repeat;
}

.logo:hover+.slogan {
	display: block
}

.slogan {
	color: rgba(255, 255, 255, 0.9);
	display: none;
	position: absolute;
	left: 64px;
	top: 4px;
	width: 200px;
	font-size: 0.75rem;
	font-weight: 600
}

@media screen and (max-width: 30em) {
	.slogan {
		display: none
	}
}

.nav-title {
	position: static;
	top: 0;
	font-weight: 600;
	line-height: 33px;
	margin-right: 0px;
	float: left;
	margin-left: 150px;
}

.nav-title li {
	float: left;
}

.navigation {
	position: static;
	top: 0;
	font-weight: 600;
	line-height: 33px;
	margin-right: 0px;
	float: right;
}

.navigation li {
	float: left;
}

.navigation .current {
	background: rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 48em) {
	.navigation li:not (.account ){
		display: none
	}
}

.main-nav {
	color: #323030;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	display: block;
	height: 56px;
	line-height: 54px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	font-size: 16px;
}

.main-nav:hover {
	color: #4E63B6;
	background: rgba(0, 0, 0, 0.1)
}

.account-menu {
	padding-top: 13px;
	padding-bottom: 10px
}

.new-post {
	color: #2a5894 !important;
	height: 16px;
	width: 16px;
	display: inline-block;
	text-indent: -999em;
	top: 3px;
	position: relative;
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/add-0170fac0e1d72d01af08adba9bdb5da8.svg)
		no-repeat left top
}

.new-post:hover {
	color: #2a5894 !important
}

.notification-menu {
	position: relative
}

.notification-menu .unread {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 50%
}

.notification-footer {
	font-size: 0.75rem
}

.notification-footer .left {
	color: #C82B41
}

.login-btn {
	position: relative;
	padding-left: 40px !important;
	border-left: 1px solid rgba(0, 0, 0, 0.1)
}

.login-btn:before {
	content: " ";
	height: 15px;
	width: 18px;
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/wechat-292549e780128a04b26a56771bd3d1f0.svg)
		no-repeat left top;
	position: absolute;
	top: 19px;
	left: 18px
}

.login-menu,.login-wechat {
	position: relative
}

.login-menu {
	border-left: 0px solid rgba(0, 0, 0, 0.1)
}

.dropdown {
	background-clip: padding-box;
	background-color: #FFFFFF;
	border: 2px solid rgba(67, 79, 93, 0.2);
	border-radius: 4px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
	margin: 7px 0 0;
	min-width: 90px;
	padding: 12px;
	position: absolute;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease
}

.dropdown:before,.dropdown:after {
	bottom: 100%;
	right: 8%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.dropdown li {
	margin-left: 0 !important;
	display: block !important
}

.dropdown a {
	color: rgba(67, 79, 93, 0.4)
}

.dropdown span {
	font-size: 0.625rem;
	font-weight: normal
}

.login-dropdown {
	right: 15px
}

.account-dropdown {
	right: 10px
}

.login-dropdown,.account-dropdown {
	top: 45px
}

.login-dropdown:after,.account-dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-right: 13px
}

.login-dropdown:before,.account-dropdown:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 9px;
	margin-right: 10px
}

.notification-dropdown {
	width: 250px;
	text-align: left;
	font-size: 0.75rem;
	line-height: 1.5;
	right: 4px;
	top: 45px
}

.notification-dropdown a {
	color: #2a5894
}

.notification-dropdown p {
	margin-left: 20px
}

.notification-dropdown ul {
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 10px
}

.notification-dropdown li {
	width: 100%;
	margin-bottom: 10px
}

.notification-dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-right: 2px
}

.notification-dropdown:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 9px;
	margin-right: -1px
}

.share-dropdown {
	left: -27px;
	top: 40px;
	width: 185px
}

.share-dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-right: -11px
}

.share-dropdown:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 9px;
	margin-right: -14px
}

.login-wechat .dropdown {
	width: 120px
}

.login-menu:hover .dropdown,.login-wechat:hover .dropdown {
	opacity: 1;
	top: 55px;
	visibility: visible
}

.share-wechat:hover .dropdown {
	opacity: 1;
	top: 50px;
	visibility: visible
}

.active.notification-menu .dropdown {
	opacity: 1;
	top: 55px;
	visibility: visible
}

.row {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px
}

.login-row {
    max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}

.wx-btn {
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  background-color: #3EB94E;
  border-radius: 3px;
}

.login-box{
  background: #F5F5F5;
  padding: 40px 30px 0px 30px;
}

.oauth-panel {
  margin: 20px 0; 
  padding: 20px 0; 
  border-top: 1px solid #f0f0f0;
}

.row:after {
	content: "";
	display: table;
	clear: both
}

input:focus,textarea:focus,select:focus {
	border-color: rgba(115, 126, 140, 0.8)
}

.btn {
	display: inline-block;
	border-radius: 3px;
}

.content {
	padding-top: 50px;
	padding-bottom: 0px;
	min-height: 400px;
	position: relative;
}

.subcontent {
	padding-top: 30px;
	padding-bottom: 60px;
	min-height: 400px;
	position: relative;
}

.main-header {
	margin-bottom: 30px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 0px;
}

.submit-btn {
	border: 1px solid #2a5894;
	width: 100px;
	height: 40px;
	text-align: center;
	font-weight: 600
}

.submit-btn:hover {
	background: #2a5894;
	color: #fff;
}

.post {
	position: relative;
	margin-bottom: 50px;
}

.featured {
	margin-bottom: 30px;
	text-align: center;
}

.featured h3 {
	font-size: 1.125rem;
}

.featured-item {
	color: #fff;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.featured-item:hover {
	color: #fff;
}

.featured-item:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8) 100%);
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8) 100%);
}

@media screen and (min-width: 46.9375em) {
	.featured-2col {
		width: 350px;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 46.9375em) {
	.featured-left {
		float: left;
	}
}

@media screen and (min-width: 46.9375em) {
	.featured-right {
		float: right;
	}
}

.featured-meta {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 300px
}

.product .product-item:hover {
	background: none;
}

.product-item {
	position: relative;
}

.product-item:hover {
	background: rgba(225, 227, 230, 0.4)
}

.product-item .product-mark {
	margin-left: 4px;
}

.product-item .product-avatar {
	margin-left: 15px;
}

@media screen and (max-width: 30em) {
	.product-mark {
		display: none;
	}
}

.product-meta li {
	float: left;
	height: 44px;
}

.product-avatar {
	display: inline-block;
	position: relative;
}

.upvote,.post-url,.user-image {
	z-index: 1;
	position: relative;
}

.product-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.date {
	position: relative;
	margin-bottom: 20px
}

.date small {
	line-height: 44px;
	font-size: 1.125rem;
	font-weight: 600;
}

.cal {
	position: absolute;
	left: -64px;
	display: inline-block;
	padding: 5px;
	width: 48px;
	height: 48px;
	background: #2a5894;
	color: #fff;
	text-align: center;
}

.cal i {
	position: relative;
	font-style: normal;
	display: block;
}

.month {
	text-transform: uppercase;
	font-size: 0.625rem;
	top: 2px;
}

.day {
	font-weight: 600;
	font-size: 1.25rem;
}

.posts-group {
	position: relative;
	padding: 15px 10px;
}

.post-url {
	font-weight: 600;
	font-size: 1.125rem;
}

.post-url:visited {
	color: #888888;
}

.post-url:hover {
	color: #1C3B64;
}

.upvote {
	float: left;
}

.upvote-link {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 44px;
	margin-right: 10px;
	text-align: center;
	padding: 5px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #E0E3E6;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.upvote-link:hover {
	border: 1px solid #2a5894;
}

.upvote-link:hover .upvote-arrow {
	background-position: -16px 0;
}

.upvote-link.voted {
	border: 1px solid #2a5894;
}

.upvote-arrow {
	width: 16px;
	height: 9px;
	display: inline-block;
	position: relative;
	top: -2px;
	background: url(../img/ico/upvoted.svg) no-repeat
}

.voted .upvote-link {
	border: 1px solid #2a5894
}

.voted .upvote-arrow {
	background-position: -16px 0
}

.voted .vote-count {
	color: #2a5894
}

.vote-count {
	display: block;
	color: #ADB3B9;
	height: 10px;
	font-size: 0.75rem;
	line-height: 10px
}

.product-url {
	float: left;
	width: 70%
}

@media screen and (max-width: 30em) {
	.product-url {
		width: 60%
	}
}

.product-comment {
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2
}

.product-comments {
	font-weight: 600;
	font-size: 0.625rem;
	line-height: 22px;
	color: #fff;
	width: 26px;
	height: 26px;
	display: inline-block;
	background: rgba(148, 143, 237, 0.9);
	border-radius: 50%;
	border: 2px solid #fff
}

.product-comments:hover {
	color: rgba(255, 255, 255, 0.8)
}

.comment-avatar {
	position: relative;
	float: left
}

.comment-avatar .mark {
	position: absolute;
	right: 6px;
	top: 26px;
	z-index: 2
}

.no-comments {
	display: none
}

.showmore {
	margin-top: 40px
}

.user-image {
	float: left;
	position: relative;
	margin-right: 10px
}

.user-image:hover {
	z-index: 3
}

.posts-group .user-image {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.avatar {
	border-radius: 100%;
	width: 30px;
	height: 30px
}

.topic-link {
	background: #fff;
	padding: 2px;
	width: 24px;
	height: 24px;
	display: inline-block;
	position: absolute;
	right: -8px;
	bottom: -8px
}

.comments .form-group {
	width: 100%
}

.form-group {
	margin-bottom: 30px;
	width: 300px
}

.main-panel {
	margin-bottom: 30px;
	width: 620px
}

.pagination {
	position: relative;
	padding-top: 30px;
	text-align: center
}

.pagination a {
	display: inline-block;
	padding-right: 25px;
	padding-left: 25px;
	height: 30px;
	border: 1px solid #2a5894;
	border-radius: 25px;
	line-height: 30px
}

.pagination a:hover {
	background: #2a5894;
	color: #fff
}

.count {
	color: #fff;
	text-align: center;
	font-weight: 300;
	line-height: 28px
}

.countdown {
	color: #fff;
	text-align: center;
	font-weight: 300;
	line-height: 28px
}

.count span {
	margin-right: 5px;
	font-weight: 600;
	font-size: 1.125rem
}

.form-group select {
	padding: 12px;
	border: none;
	background-color: rgba(115, 126, 140, 0.2);
	background-image: none;
	box-shadow: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.form-group select:focus {
	outline: none
}

.form-group.has-error p.help-block {
	color: #C82B41
}

.select-user {
	position: relative
}

.select-user:before {
	height: 0;
	width: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px;
	border-top-color: rgba(67, 79, 93, 0.4);
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 100;
	content: " "
}

.register-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -150px;
	width: 300px;
	height: 150px;
	text-align: center
}

.register-wrapper img {
	display: inline-block;
	margin-bottom: 40px;
	width: 71px;
	height: 71px
}

.register-wrapper h3 {
	font-size: 1.5rem;
	margin-bottom: 10px
}

.help-block {
	font-size: 0.75rem
}

.user-tooltip {
	background: rgba(0, 0, 0, 0.85);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	font-size: 0.75rem;
	text-align: center;
	text-shadow: #000 0 -1px 0;
	color: #D8D8D8;
	left: -96px;
	top: 42px;
	margin: 7px 0 0;
	width: 220px;
	min-height: 100px;
	padding: 20px;
	position: absolute;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease
}

@media screen and (max-width: 48em) {
	.user-tooltip {
		display: none
	}
}

.user-tooltip:before {
	left: 104px;
	top: -12px;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	border-bottom-color: rgba(24, 24, 24, 0.9);
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.user-image:hover+.user-tooltip {
	opacity: 1;
	visibility: visible
}

.avatar-big {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-bottom: 10px
}

.user-nickname {
	font-size: 1.125rem;
	color: #fff;
	margin-bottom: 0 !important
}

.user-title {
	font-size: 14px !important
}

.user-bio {
	margin-top: 20px
}

.alert {
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
	margin-bottom: 0px;
	padding: 10px
}

.alert a {
	color: #fff
}

.alert-success {
	background: #5BCD52
}

.alert-success a {
	color: #23681e
}

.alert-fail,.alert-danger {
	background: #C82B41
}

.alert-fail a,.alert-danger a {
	color: #4a1018
}

.alert-info {
	background: #5AABE7
}

.alert-info a {
	color: #155d93
}

.alert-warning {
	background: #FBBD46
}

.alert-warning a {
	color: #a46d04
}

.text-success {
	color: #5BCD52;
	font-weight: bold;
	border: 1px solid #5BCD52;
	border-radius: 3px;
}

.text-info {
	color: #5AABE7;
	font-weight: bold;
	border: 1px solid #5AABE7;
	border-radius: 3px;
}

.text-warn {
	color: #FBBD46;
	font-weight: bold;
	border: 1px solid #FBBD46;
	border-radius: 3px;
}

.text-danger {
	color: #C82B41;
	font-weight: bold;
	border: 1px solid #C82B41;
	border-radius: 3px;
}

.page-404 {
	padding-top: 100px;
	padding-bottom: 100px
}

.image-404 {
	display: inline-block;
	margin-bottom: 30px
}

.for-ie-suckers {
	font-size: 1.5rem;
	text-align: center;
	padding: 100px 30px
}

.notification p {
	margin-left: 20px
}

.notification li {
	width: 100%;
	margin-bottom: 20px
}

.notification .read {
	opacity: .5
}

.notification-time {
	font-size: 0.75rem
}

.notification-header {
	margin-bottom: 30px
}

.article {
	font-size: 1.125rem
}

.article,.comment {
	line-height: 1.7
}

.article h2,.article h3,.article h4,.article h5,.article h6 {
	margin-top: 50px
}

.article p,.article h2,.article h3,.article h4,.article h5,.article h6,.article pre,.article ul,.article ol,.article dl,.article form,.article table,.article blockquote,.article iframe,.comment p,.comment h2,.comment h3,.comment h4,.comment h5,.comment h6,.comment pre,.comment ul,.comment ol,.comment dl,.comment form,.comment table,.comment blockquote,.comment iframe
	{
	margin-bottom: 20px
}

.article ul,.article ol,.comment ul,.comment ol {
	margin-top: 30px;
	margin-bottom: 30px
}

.article ul li,.article ol li,.comment ul li,.comment ol li {
	list-style-type: disc;
	margin-left: 25px;
	margin-bottom: 10px
}

.article h1,.comment h1 {
	margin-bottom: 18px;
	font-size: 1.875rem
}

.article h2,.comment h2 {
	font-size: 1.5rem
}

.article h3,.comment h3 {
	font-size: 1.125rem
}

.article h4,.comment h4 {
	font-size: 1rem
}

.article h5,.comment h5 {
	font-size: 0.875rem
}

.article h6,.comment h6 {
	font-size: 0.8125rem
}

.article hr,.comment hr {
	margin: 0 0 19px;
	border: 0;
	border-bottom: 1px solid #ccc
}

.article sup,.article sub,.comment sup,.comment sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative
}

.article sup,.comment sup {
	bottom: 1ex;
	font-size: 0.95em
}

.article sup a,.comment sup a {
	font-weight: normal;
	text-decoration: none
}

.article blockquote,.comment blockquote {
	border-left: 7px solid #dadde4;
	margin: 0 0 1.5em;
	padding: 0.5em 1.5em;
	font-size: 18px
}

.article .highlight,.comment .highlight {
	position: relative;
	margin: 1.5em 0
}

.article .highlight pre,.comment .highlight pre {
	width: auto;
	margin: 0
}

.article pre,.article code,.comment pre,.comment code {
	font: 13px Consolas, Monaco, Courier, "Courier New", Verdana, sans-serif;
	color: #8591aa;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased
}

.article pre::-webkit-scrollbar,.comment pre::-webkit-scrollbar {
	height: 18px;
	background-color: #fafafa;
	border-top: 1px solid #d1d8e3
}

.article pre::-webkit-scrollbar-thumb:horizontal,.comment pre::-webkit-scrollbar-thumb:horizontal
	{
	background-color: #dadde4
}

.article pre,.comment pre {
	background-color: #2B303B;
	padding: 0.35em;
	width: 97%;
	margin: 20px 0;
	overflow: auto;
	overflow-y: hidden
}

.article pre code,.comment pre code {
	border: none;
	padding: 0;
	position: relative
}

.article code,.comment code {
	border: 1px solid #ddd;
	font-size: 95%;
	padding: 0 0.2em;
	display: block
}

.article code.inline,.comment code.inline {
	display: inline;
	padding: 0;
	font-size: 0.625rem;
	color: #d14;
	background: none;
	border: none
}

.article code.kb,.comment code.kb {
	border-width: 2px;
	border-color: #dedede #bbb #bbb #dedede;
	border-radius: 4px;
	background: #eee
}

.article mark,.comment mark {
	background-color: #fdffb6;
	padding: 2px;
	-webkit-box-shadow: #fdffb6 0 0 5px;
	-moz-box-shadow: #fdffb6 0 0 5px;
	box-shadow: #fdffb6 0 0 5px
}

.article .footnotes p a:first-child,.comment .footnotes p a:first-child
	{
	font-size: 0.75rem;
	line-height: 1.1;
	padding-right: 8px;
	padding-left: 3px;
	font-family: Georgia;
	text-decoration: none;
	float: left
}

.article .footnotes,.comment .footnotes {
	background: #e4e8f0;
	padding: 20px;
	border-radius: 3px
}

.article .footnotes p,.comment .footnotes p {
	margin-bottom: 10px
}

.product {
	margin-bottom: 60px
}

.comment {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e4
}

.comment:last-child {
	margin-bottom: 0
}

.replies .comment {
	padding: 0;
	margin-top: 30px;
	margin-bottom: 0;
	border: none
}

.simple_form {
	width: 100%
}

#mention_user_selector {
	margin-bottom: 5px;
	color: #2a5894;
	width: 100%
}

.autocomplete-suggestions {
	font-size: 0.75rem;
	background: #fff;
	z-index: 9999;
	border: 1px solid #e6eaed;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1)
}

.autocomplete-suggestions .media {
	padding: 10px
}

.autocomplete-suggestion {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer
}

.autocomplete-suggestion:hover {
	background: #2a5894;
	color: #fff
}

.autocomplete-selected {
	background: #2a5894;
	color: #fff
}

.mention-image {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	float: left;
	margin-right: 5px
}

.form-control {
	display: block;
	padding: 12px;
	margin-bottom: 10px;
	color: #555;
	background-color: #fff;
	border: 2px solid rgba(115, 126, 140, 0.2);
	border-radius: 3px;
	-webkit-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
	font-family: Arial, 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-small {
	width: 100%
}

.input-big {
	width: 100%;
	min-height: 100px
}

.submit {
	display: inline-block;
	padding: 7px 14px;
	color: #fff;
	background-color: #2a5894;
	border-radius: 3px
}

.submit:hover {
	color: #fff;
	background-color: #1C3B64
}

.media-body {
	margin-left: 40px
}

.comment-details p:last-child {
	margin-bottom: 0
}

.comment-meta {
	margin-bottom: 10px;
	line-height: 30px;
	font-weight: 600
}

.comment-meta .user-nickname {
	color: #4e627a;
	float: left;
	margin-bottom: 0;
	margin-right: 10px
}

.reply {
	font-size: 0.75rem
}

hr {
	margin-top: 50px;
	margin-bottom: 20px;
	border: 0;
	height: 1px;
	border-top: 1px solid #e4e4e4
}

.comments h4 {
	font-size: 1.125rem;
	margin-bottom: 10px
}

em {
	font-size: 0.75rem
}

.hide {
	display: none
}

.help-inline {
	font-size: 0.75rem
}

.share {
	text-align: center;
	border-bottom: 1px solid rgba(67, 79, 93, 0.2);
	padding-bottom: 60px
}

.share>div {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}

.share h3 {
	font-size: 0.75rem;
	margin-bottom: 10px
}

.share a {
	display: inline-block;
	padding: 8px 22px;
	border-radius: 3px;
	color: #fff;
	font-size: 0.875rem
}

.share i {
	width: 20px;
	height: 17px;
	display: inline-block;
	margin-top: -3px;
	vertical-align: middle
}

.share-wechat {
	position: relative
}

.share-weibo a {
	background: #D04341
}

.share-wechat a {
	background: #87C335
}

.svg-weibo {
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/share-weibo-43b08716dfc4ae1dbaa02babb81e8f43.svg)
		left top no-repeat
}

.svg-wechat {
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/share-wechat-a1d0ca76283a0df3df81e14a84e309f3.svg)
		left top no-repeat
}

.share-dropdown:before,.share-dropdown:after {
	right: 54%
}

.share-wechat-tip {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: none;
	-webkit-animation: fadeIn .3s;
	-moz-animation: fadeIn .3s;
	animation: fadeIn .3s
}

.share-wechat-tip.active {
	display: block
}

.upvotes {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
	border-top: 1px solid rgba(67, 79, 93, 0.2)
}

.upvotes h2 {
	margin-bottom: 10px
}

.upvotes .user-image {
	margin: 0 5px 5px 0
}

.mark-tooltip {
	background: rgba(75, 90, 101, 0.9);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	font-size: 0.75rem;
	line-height: 1.6;
	color: #fff;
	left: -80px;
	top: 30px;
	margin: 7px 0 0;
	width: 180px;
	min-height: 100px;
	padding: 10px 15px;
	position: absolute;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease
}

.mark-tooltip:before {
	left: 84px;
	top: -12px;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	border-bottom-color: rgba(75, 90, 101, 0.9);
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.mark:hover .mark-tooltip {
	opacity: 1;
	visibility: visible
}

.related {
	margin-bottom: 30px
}

.related-links {
	line-height: 2.4;
	margin-left: 2px
}

.related-links .favicon {
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
	margin-right: 2px;
	display: inline
}

.profile {
	text-align: center;
	margin-bottom: 50px
}

.profile a {
	display: inline-block;
	margin-bottom: 15px
}

.profile .avatar {
	width: 120px;
	height: 120px
}

.status {
	font-size: 0.625rem;
	font-style: normal;
	color: #fff;
	border-radius: 2px;
	padding: 3px 6px;
	position: relative;
	top: -4px
}

.draft {
	background: #C82B41
}

.pending {
	background: #FECD56
}

.publish {
	background: #5BCD52
}

.user-name {
	font-size: 1.75rem;
	color: #343e49
}

.user-subtitle {
	font-size: 0.875rem;
	margin-bottom: 20px
}

.profile-end-symbol {
	font-size: 4rem;
	color: #ccc
}

.forms {
	float: left
}

.settings-profile {
	margin-bottom: 20px
}

form h2 {
	margin-bottom: 20px;
	font-size: 1.125rem;
	font-weight: 600
}

.avatar-wrapper img {
	float: left;
	margin-right: 14px
}

.upload {
	width: 78%;
	color: transparent;
	cursor: pointer
}

.upload::-webkit-file-upload-button {
	visibility: hidden
}

.upload::before {
	content: '上传头像';
	display: inline-block;
	background: rgba(115, 126, 140, 0.2);
	border-radius: 3px;
	padding: 8px 12px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	color: #888;
	font-size: 12px
}

input[type="checkbox"] {
	float: left;
	margin-bottom: 0;
	margin-top: 2px;
	margin-right: 5px
}

.checkbox {
	font-size: 0.75rem;
	margin-top: 10px
}

.aside {
	float: right;
	width: 280px;
	text-align: center;
	padding-left: 50px;
	border-left: 1px solid #e4e4e4
}

.aside img {
	width: 160px;
	height: 160px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px
}

.aside-zlm {
	float: right;
	width: 280px;
	text-align: center;
}

.aside-zlm img {
	width: 160px;
	height: 160px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px
}

.aside-tips {
	font-size: 0.75rem;
	text-align: left;
	line-height: 1.6
}

.aside-tips li {
	margin-bottom: 10px
}

body {
	margin: 0 0 410px
}

@media screen and (min-width: 48.0625em) {
	body {
		margin: 0 0 150px
	}
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #747f8c;
	text-align: center;
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #f2f2f2;
}

@media screen and (min-width: 48.0625em) {
	.footer {
		text-align: left;
	}
}

.subscribe-email {
	margin-bottom: 60px
}

.subscribe-email h3 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 4px
}

.subscribe-email p {
	font-size: 12px
}

.subscribe-email .form-email {
	margin-top: 20px;
	margin: 20px auto 0
}

.subscribe-email .input-email {
	border-radius: 3px;
	width: 200px;
	padding: 10px;
	margin-right: 10px
}

.subscribe-email .input-subscribe {
	padding: 10px 20px;
	background: #2a5894;
	color: #fff
}

.subscribe-email .input-subscribe:hover {
	background: #18a6b4
}

.copyright {
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 20px
}

@media screen and (min-width: 48.0625em) {
	.copyright {
		float: center;
		margin-bottom: 0
	}
}

.copyright p+p {
	font-size: 12px
}

@media screen and (min-width: 48.0625em) {
	.footer-follow {
		float: right;
		margin-top: 6px
	}
}

.footer-follow li {
	display: inline-block;
	margin-left: 10px
}

.footer-follow a {
	display: inline-block;
	text-indent: -999em
}

.back-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(255, 87, 34, 1)
		url(https://rs-assets.b0.upaiyun.com/assets/top-arrow-e69ac40738e3c4565aacf910e0d41f67.svg)
		no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s
}

.back-top.cd-is-visible,.back-top.cd-fade-out,.no-touch .back-top:hover
	{
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s
}

.back-top.cd-is-visible {
	visibility: visible;
	opacity: 1
}

.no-touch .back-top:hover {
	background-color: #2a5894;
	opacity: 1
}

@media screen and (max-width: 30em) {
	.back-top {
		visibility: hidden;
		opacity: 0
	}
}

.list {
	width: 190px;
	margin: 0 auto
}

@media screen and (min-width: 20.0625em) {
	.list {
		width: 380px
	}
}

@media screen and (min-width: 48.0625em) {
	.list {
		width: 1000px;
		position: relative;
		left: -30px
	}
}

.list .cover {
	width: 160px;
	height: 180px;
	display: block;
	color: #fff;
	position: relative;
	border-radius: 3px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}

.list .cover:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8) 100%);
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8) 100%)
}

.list h3 {
	font-size: 1rem;
	margin-bottom: 5px
}

.list-item {
	float: left;
	position: relative;
	padding: 0 10px 30px 30px;
}

.cover-meta {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 140px
}

.list-meta li {
	display: inline-block;
	font-size: 0.6875rem;
	margin-right: 10px
}

.list-meta span {
	font-weight: 600;
	margin-right: 3px
}

.list-header {
	position: relative;
	min-height: 400px
}

.list-header-cover {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	vertical-align: bottom;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	opacity: 0.8;
}

.list-header-cover:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 100%);
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 100%)
}

.list-header-info {
	position: absolute;
	color: #fff;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 280px
}

.list-header-info h2 {
	font-size: 1.8rem
}

.list-header-info p {
	font-size: 0.875rem;
	padding: 0 50px;
}

.list-stats {
    margin-top: 10px;
	font-size: 0.95rem;
	color: #e5e5e5;
	margin-bottom: 30px
}

.list-stats span {
	padding-left: 5px;
	padding-right: 5px
}

.list-stats .number {
	font-weight: 600;
	font-size: 1.25rem;
	margin-right: 4px
}

.list-bio {
	margin-bottom: 60px
}

@media screen and (min-width: 30.0625em) {
	.list-bio {
		margin-bottom: 100px;
	}
}

.list-header-meta .share>div {
	display: inline-block;
	padding: 0
}

.list-header-meta a {
	display: inline-block;
	padding: 8px 22px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff
}

.list-header-meta a:hover {
	background: rgba(255, 255, 255, 0.3)
}

.list-header-meta .share {
	border-bottom: none;
	padding-bottom: 0
}

@media screen and (min-width: 30.0625em) {
	.list-header-meta .share {
		float: right;
		margin-right: 20px;
	}
}

.list-header-meta .share .dropdown {
	color: #4e627a
}

.list-header-meta .share-wechat {
	margin-left: 10px
}

.list-fav-btn {
	font-weight: 600;
	margin-bottom: 30px
}

@media screen and (min-width: 30.0625em) {
	.list-fav-btn {
		float: left;
		margin-left: 50px;
	}
}

.list-fav-btn a {
	border: 1px solid #2a5894;
	color: #2a5894;
	width: 90px
}

.list-fav-btn a:hover {
	color: #fff;
	background: #2a5894
}

.list-fav-btn.faved a {
	color: #fff;
	background: #2a5894
}

.fav-number {
	margin-left: 5px
}

.list-fav {
	width: 27px;
	height: 27px;
	display: block;
	position: absolute;
	top: 10px;
	right: 25px;
	cursor: pointer;
	background:
		url(https://rs-assets.b0.upaiyun.com/assets/fav-65c5c96188e6ad6edbf26b698dc4d0f1.svg)
		no-repeat 0 0
}

.list-fav:hover {
	background-position: -27px 0
}

.list-fav.faved {
	background-position: -54px 0
}

.list-sort li {
	float: left
}

.list-sort a {
	padding: 6px 14px;
	font-size: 12px
}

.list-faved {
	margin-left: -4px
}

.list-all,.list-all.active {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 1px solid #2a5894
}

.list-faved,.list-faved.active {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #2a5894
}

.list-all.active,.list-faved.active {
	background: #2a5894;
	color: #fff
}

.ribbon {
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	left: 13px;
	cursor: pointer
}

.ribbon-wrapper {
	font-size: 0.6875rem;
	color: #fff;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	position: relative;
	padding: 5px 0;
	left: -30px;
	top: 15px;
	width: 120px;
	background-color: #948FEE;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3)
}

.ribbon-wrapper:before,.ribbon-wrapper:after {
	content: "";
	border-top: 4px solid #292573;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	position: absolute;
	bottom: -4px
}

.ribbon-wrapper:before {
	left: 0
}

.ribbon-wrapper:after {
	right: 3px
}

.list-tip {
	font-size: 1rem;
	font-weight: 600
}

@media screen and (max-width: 30em) {
	.list-tip {
		margin-bottom: 20px;
		line-height: 1.6
	}
}

body.commentable div[contenteditable=true] {
	outline: none
}

body.commentable div[contenteditable=true]:focus {
	border-color: rgba(115, 126, 140, 0.8)
}

body.commentable #mention_wrapper {
	display: none;
	position: absolute
}

#intercom-container {
	display: none
}