
.unlogin {
  margin-top: 10px;
}

.unlogin a{
  color: #fff;
}

.btn-wechat {
  color: #ffffff;
  background-color: #00c800;
  border-color: #44b549;
}

.pcbrower-tip {
  margin: 50px;
  font-style: italic;
}

.mcollect-detail {
  line-height: 25px;
}

.mcollect-detail span {
  margin-right: 10px;
}
